Client/Library/
Server/node_modules/
Client/Assets/Editor/
Client/*.csproj
Client/*.sln
Client/*.suo
Client/*.unityproj
Client/**/.pidb
Client/*.sublime-*
Client/*.userprefs
Client/Assets/AssetBundles/Export/
Client/Assets/Editor Default Resources/FMOD.meta
Client/Assets/Gizmos.meta
Client/Assets/Plugins/Editor/FMOD.meta
Client/Assets/Editor Default Resources.meta
